/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Lato',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

#root {
  background-color: #ec4c8a;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ec4c8a;
  color: white;
  max-width: 1129px;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background-color: #cf4378; */
  background: rgba(0, 0, 0, 0.12);
  height: 50px;
  padding: 2px 10px;
  font-family: 'Lato';
}

.topNav a {
  text-decoration: none;
  color: #fff;
}

.topNav svg {
  width: 29px;
  height: 29px;
}

.topNav h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.hero {
  font-family: 'Lato';
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail .hero .content {
  text-align: right;
  padding-right: 20px;
}

.popItem h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: Gill Sans MT;
  padding-right: 10px;
  font-size: 20px;
}

.popItem img {
  height: 100%;
  opacity: 0.4;
}

.countyItem h2 {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-size: 20px;
  flex-grow: 2;
}

.hero .content h2,
h3 {
  margin: 0;
}

.hero .content h2 {
  text-transform: uppercase;
  font-family: 'Gill Sans MT';
}

.hero .content h3 {
  font-family: 'Lato';
  font-size: 17px;
}

.homeContainer > a {
  height: 30vh;
}

.homeContainer p {
  font-size: 12px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.popItem {
  display: flex;
  flex-direction: column;
  text-align: right;
  aspect-ratio: 1/1;
}

.popItemContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.popItemContainer a {
  background: rgba(0, 0, 0, 0.17);
}

.popItemContainer a:nth-child(4n+1),
.popItemContainer a:nth-of-type(4n) {
  background: rgba(0, 0, 0, 0.08);
}

.popItem .img {
  flex-grow: 1;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.countyItem svg {
  width: 25px;
  height: 25px;
}

.popItem .img svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.popItem h4 {
  margin: 0;
  padding-bottom: 12px;
  padding-right: 10px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
}

.countyItemContainer {
  display: flex;
  flex-direction: column;
}

.countyItem {
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 5px;
  align-items: center;
  display: flex;
  gap: 16px;
  background: rgba(0, 0, 0, 0.17);
}

.countyItem h4 {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 17px;
}

.countyItem:nth-child(odd) {
  background: rgba(0, 0, 0, 0.08);
}

@media (min-width: 620px) {
  .popItemContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .popItemContainer a:nth-child(odd) {
    background: rgba(0, 0, 0, 0.08);
  }

  .popItemContainer a:nth-child(even) {
    background: rgba(0, 0, 0, 0.17);
  }
}

@media (min-width: 720px) {
  .hero h2{
    font-size: 40px;
  }

  .popItemContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .popItemContainer a:nth-child(n) {
    background: rgba(0, 0, 0, 0.17);
  }

  .popItemContainer a:nth-child(8n+1),
  .popItemContainer a:nth-child(8n+3),
  .popItemContainer a:nth-child(8n+6),
  .popItemContainer a:nth-child(8n+8) {
    background: rgba(0, 0, 0, 0.08);
  }
}
